@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;700&display=swap');

[data-md-color-primary=white] {
	--md-primary-fg-color: #fffefb;
    --md-primary-fg-color--light: hsla(0,0%,100%,.7);
    --md-primary-fg-color--dark: rgba(0,0,0,.07);
    --md-primary-bg-color: rgba(0,0,0,.87);
    --md-primary-bg-color--light: rgba(0,0,0,.54);
}

:root, [data-md-color-scheme=default] {
	/* --md-default-bg-color: #fffdfc; */
	--md-default-bg-color: #fff;
}

[data-md-color-primary=dark] {
	--md-primary-fg-color: #1b2430;
    /* --md-primary-fg-color: #404258; */
    --md-primary-fg-color--light: rgba(0,0,0,.54);
    --md-primary-fg-color--dark: #000;
    --md-primary-bg-color: #fff;
    --md-primary-bg-color--light: hsla(0,0%,100%,.7);
    --md-typeset-a-color: #4051b5;
}

:root, [data-md-color-scheme=slate] {
	--md-default-bg-color: hsla(var(--md-hue),15%,21%,1);
}


body {
    font-family: 'Lexend', 'Noto Sans SC', 'Source Code Pro';
    font-weight: normal;
    line-height: 1.5rem;
    letter-spacing: 0;
    margin: 0;
}
p {
    font-size: large;
}

/* .md-typeset h1, .md-typeset h2, .md-typeset h3, .md-typeset h4, .md-typeset h5, .md-typeset h6 {
	display: block;
	font-weight: bold;
}

.md-typeset h1 {
	font-size: 1.8em;
    line-height: 110%;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
}

.md-typeset h2 {
	font-size: 1.5em;
	margin-top: 0.83em;
	margin-bottom: 0.83em;
}

.md-typeset h3 {
	font-size: 1.17em;
	margin-top: 1em;
	margin-bottom: 1em;
}

.md-typeset h4 {
	font-size: 1em;
	margin-top: 1.33em;
	margin-bottom: 1.33em;
}

.md-typeset h5 {
	font-size: 1em;
	margin-top: 1.33em;
	margin-bottom: 1.33em;
	color: #777777;
}

.md-typeset h6 {
	font-size: 1em;
	margin-top: 1.33em;
	margin-bottom: 1.33em;
	color: #adadad;
} */

.md-typeset .admonition, .md-typeset details {
    font-size: medium;
    border-width: 0em;
}