@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;700&display=swap');

body {
    font-family: 'Lexend', 'Noto Sans SC', 'Source Code Pro';
    font-weight: normal;
    line-height: 1.5rem;
    letter-spacing: 0;
    margin: 0;
}
p {
    font-size: large;
}

h1,h2,h3,h4,h5,h6 {
	display: block;
	font-weight: bold;
}

h1 {
	font-size: 1.8em;
    line-height: 110%;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
}

h2 {
	font-size: 1.5em;
	margin-top: 0.83em;
	margin-bottom: 0.83em;
}

h3 {
	font-size: 1.17em;
	margin-top: 1em;
	margin-bottom: 1em;
}

h4 {
	font-size: 1em;
	margin-top: 1.33em;
	margin-bottom: 1.33em;
}

h5 {
	font-size: 1em;
	margin-top: 1.33em;
	margin-bottom: 1.33em;
	color: #777777;
}

h6 {
	font-size: 1em;
	margin-top: 1.33em;
	margin-bottom: 1.33em;
	color: #adadad;
}

.md-typeset .admonition {
    font-size: medium;
    border-width: 0em;
}