@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,900;1,300;1,900&display=swap');
/* @import url('https://fonts.googileaddppis.com/css2?family=Lexend:wght@300;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;700&display=swap');

:root {
    --text-font-size: 16px;
}

[data-md-color-primary=white] {
	  --md-primary-fg-color: #fffefb;
    --md-primary-fg-color--light: hsla(0,0%,100%,.7);
    --md-primary-fg-color--dark: rgba(0,0,0,.07);
    --md-primary-bg-color: rgba(0,0,0,.87);
    --md-primary-bg-color--light: rgba(0,0,0,.54);
}

:root, [data-md-color-scheme=default] {
	/* --md-default-bg-color: #fffdfc; */
	--md-default-bg-color: #fff;
}

[data-md-color-primary=dark] {
	--md-primary-fg-color: #1b2430;
    /* --md-primary-fg-color: #404258; */
    --md-primary-fg-color--light: rgba(0,0,0,.54);
    --md-primary-fg-color--dark: #000;
    --md-primary-bg-color: #fff;
    --md-primary-bg-color--light: hsla(0,0%,100%,.7);
    --md-typeset-a-color: #4051b5;
}

:root, [data-md-color-scheme=slate] {
	--md-default-bg-color: hsla(var(--md-hue),15%,21%,1);
}


body {
    font-family: 'Merriweather', 'Noto Serif SC', 'Noto Serif JP', 'Source Code Pro';
    font-weight: light;
    line-height: 1.5rem;
    letter-spacing: 0;
    margin: 0;
}
p {
    font-size: var(--text-font-size);
}

.md-content ul, .md-content ol {
    font-size: var(--text-font-size);
}

.arithmatex {
    font-size: var(--text-font-size);
}